html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $mainFont;
    color: $greySecond;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
picture {
    max-width: 100%;
    display: block;
}

h1 {
    color: $blueMain;
    text-align: center;
}

p, h6 {
    margin: 0;
}

button {
    /* line-height: 1.15; */
    line-height: 1;
}