@import '../../index.scss';

.preloader-section {
    background: rgb(249,165,25);
    background: linear-gradient(17deg, rgb(255, 255, 255) 16%, rgb(167, 199, 241) 62%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & .preloader-container {
        
        & #logo {
            margin: -10vh auto 5vh auto;
            animation: bounce, fadeIn;
        }
    }
}
.animate__animated {
    animation-duration: 2s !important;
    
}
.animate__fadeInUp {
    animation-duration: 3s !important;
}
